name: Unittest

on:
  workflow_dispatch:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        env_vars: OS,PYTHON
        files: ./coverage.xml
    - uses: actions/checkout@master
    - name: Set up Python 3.11
      uses: actions/setup-python@v1
      with:
        python-version: '3.11'
    - name: Test
      run: |
          python3 -m pip install -r requirements.txt
          python3 -m relix -tv